.body {
    min-height: 100vh;
    padding-top: 10vh;
}
.landingDesc {
    color:azure;
    width: 90%;
    margin: 7rem auto 2rem auto;
    text-align: center;
    background-color: lightslategray;
    padding: 10px;
}

@media (min-width:768px) {
    .landingDesc {
        width: 50%;
    }
}