.header {
    height: 12%;
    width: 100%;
    background-color: burlywood;
    position: fixed;
    top: 0;
    box-shadow: 0 3px 15px 3px rgba(0,0,0,0.2);
}
.headerContent {
    width: 90%;
    margin: auto;
}
.headerContent h1 {
    display: block;
    float: left;
}
.cart {
    float: right;
    margin-top: 7%;
}
.cart button {
    color:aliceblue;
    border-radius: 24px;
    background-color:darkred;
    border: none;
    padding: 10px;
}
.cartTitle {
    display: inline-block;
    margin-right: 5px;
}
.count {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 100px;
    background-color: crimson;
}

@media (min-width: 768px) {
    .cart {
        margin-top: 3%;
    }
    .headerContent {
        width: 60%;
    }
}